body{
	background-image: url("../images/dark_embroidery.png");
}



/*for future use. currently hidden because its just a placeholder*/
.navbar{
	visibility: hidden;
}

.jumbotron, .gameSection{
	border-color: #df691a;
	border-style: solid;
	border-width: 2px;
	border-radius: 6px;
	border-right: dashed;
	border-left: dashed;
	
}

.timer{
	font-size: 24px;
	padding-top: 20px;
	color: #000;
}

#question{
	padding-bottom: 5px;
	font-size: 20px;
	height: 62px;
	color:#2f2f2f;

}

#selections{
	opacity: 0;
}

.btn{
	margin-top: 10px;
	margin-bottom: 10px;
}

.push{
	height: 75px;
}

.footer{
	position: fixed;
	bottom:0;
	left:0;
	visibility: visible;
	opacity: .5;
}